@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal;
  background: #f1f1f1;
  color: #0f141e;
}

.container {
  max-width: 750px;
  margin: auto;
  padding: 20px;
}

.container .info {
  margin: 20px 0;
  padding: 20px 20px 5px 20px;
  border-radius: 15px;
  background: white;
  display: flex;
}

.container .info img {
  margin: 0 0 20px 0;
  border-radius: 10px;
}

.container .info .info-text {
  margin-left: 30px;
}

.container .info .info-text h1 {
  margin-bottom: 15px;
}

.container .info .info-text h4 {
  margin-bottom: 10px;
  margin-top: 25px;
}

@media (max-width: 650px) {
  .container .info {
    display: block;
    text-align: center;
  }

  .container .info .info-text .box .social {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
}

.container .info .info-text .box {
  padding: 0px 15px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border-radius: 8px;
}

.container .info .info-text .box .social {
  display: flex;
  gap: 10px;
}

.container .info .info-text p {
  font-style: italic;
  font-weight: bold;
  color: #86898f;
}

.container .info .info-text a {
  color: #5f6468;
  text-decoration: none;
  font-size: 14px;
}

.container .info .info-text a:hover {
  text-decoration: underline;
  color: pink;
}

.container .card {
  margin: 20px 0;
  padding: 20px;
  border-radius: 15px;
}

.container .card.work-experience {
  background: rgba(219, 159, 189, 0.5);
}

.container .card.hobby {
  background: rgba(126, 61, 231, 0.5);
}

.container .card h2 {
  margin-bottom: 15px;
}

.container .card ul {
  padding-left: 20px;
}

.container .card li {
  margin: 8px 0;
  color: rgb(77, 84, 90);
}

.container .card.work-experience .table {
  width: 100%;
  border-collapse: collapse;
}

.container .card.work-experience .table td:nth-child(1) {
  font-weight: bold;
}

.container .card.work-experience .table td:nth-child(2),
.container .card.work-experience .table td:nth-child(3) {
  background: rgba(221, 126, 138, 0.2);
  color: #86898f;
  font-style: italic;
}

.container .card .table th,
.container .card .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container .card .table th {
  background: rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

hr {
  margin: 30px 0;
  border: none;
  border-top: 2px solid #ddd;
}

.form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-group {
  margin-right: 20px;
  width: 50%;
}

.form-row .form-group:last-child {
  margin-right: 0;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #86898f;
}

.form-group input,
.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: #000;
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

.btn {
  width: 100%;
  padding: 12px 18px;
  background: #0066cc;
  color: white;
  border: none;
  font-family: inherit;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  opacity: 0.8;
  background: #0052a3;
}